<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Messagerie Instantanée</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><!--import de librairie javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script><!--import de librairie javascript-->
</head>
<body>

    <h1>Messagerie</h1>
    
    <ul id="messages"></ul>

    <input type="text" id="myMessage" placeholder="Tape quelque chose...">
    <button id="sendBtn">Envoyer</button>

    <script type="text/javascript">
        $(document).ready(function() { //Attente jusqu'à chargement complet de la page
            var socket = io(); //ouverture de la communication instantanée 

            $('#sendBtn').on('click', function() { //pour chaque evenement qui à l'id sendBtn
                var message = $('#myMessage').val(); //on met ce qu'il y a dans myMessage dans une variable message
                socket.send(message); //envoie du message vers le serveur
                $('#myMessage').val(''); //on vide la variable pour le prochain message
            });

            socket.on('message', function(msg) { //qi le serveur cree un event avec le tag message
                $('#messages').append('<li>' + msg + '</li>'); //dans la pile de message, on append le message recu dans la pile de messages
            });
        });
    </script>
</body>
</html>